/* .pin-container sorgt dafür, dass der Pin positioniert wird */
.pin-container {
  position: absolute;
  top: -10px; /* Pin über dem Container */
  right: -10px; /* Pin nach rechts verschoben */
  cursor: pointer;
  z-index: 10; /* Der Pin bleibt immer oben */
}

/* Standard Pin Style */
.pin {
  transition: transform 0.5s ease, stroke-width 0.3s ease, fill 0.3s ease; /* Animation für Größe, Randstärke und Füllung */
  stroke: black; /* Standard Randfarbe */
  stroke-width: 2; /* Standard Randstärke */
  fill: none; /* Standard Füllung leer */
}

/* Wenn der Pin fixiert ist (Pin ist rot) */
.pin.fixed {
  stroke-width: 2; /* Dickerer Rand wenn fixiert */
  fill: #ff073a; /* Füllung rot (Neonrot) */
  stroke: #ff073a; /* Der Rand wird ebenfalls rot */
}

/* Wenn der Pin nicht fixiert ist (Pin ist neonblau) */
.pin:not(.fixed) {
  stroke-width: 2; /* Dünnerer Rand wenn nicht fixiert */
  fill: #00d4ff; /* Füllung blau (Neonblau) */
  stroke: #00d4ff; /* Rand wird ebenfalls neonblau */
}
