/* Container für die Einstellungen */
.settings-container {
    position: fixed;  /* Fixiert den Button */
    top: 20px;
    left: 20px;  /* Positioniert den Button links */
    z-index: 1000;  /* Stellt sicher, dass der Button immer oben bleibt */
  }
  
  /* Button für die Einstellungen */
  .settings-button {
    background-color: rgba(255, 255, 255, 0.1);; /* Weißer Hintergrund */
    padding: 15px;
    border-radius: 100%;
    color: white; /* Dunkle Farbe für das Icon */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Hover-Effekt für den Button */
  .settings-button:hover {
    transform: scale(1.1);  /* Vergrößert den Button bei Hover */
  }
  
  /* Dropdown-Menü */
  .settings-dropdown {
    position: absolute;
    top: 50px;  /* Setzt das Dropdown unter den Button */
    left: 0;
    background-color: rgba(0, 0, 0, 0.8); /* Dunkler Hintergrund */
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    width: 250px;
    z-index: 10;
  }
  
  /* Liste im Dropdown */
  .settings-dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  /* Dropdown-Elemente */
  .settings-dropdown li {
    padding: 8px 0;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  /* Hover-Effekt auf Dropdown-Elemente */
  .settings-dropdown li:hover {
    background-color: white;  /* Weißer Hintergrund */
    color: #333;  /* Dunkler Text */
    border-radius: 4px;  /* Abgerundete Ecken */
  }
  
  /* Switch-Stile */
  .switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 50px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    border-radius: 50%;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
  }
  
  input:checked + .slider {
    background-color: #4caf50;
  }
  
  input:checked + .slider:before {
    transform: translateX(14px);
  }
  
  /* Slider für runde Ecken */
  .slider.round {
    border-radius: 50px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  