* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #1c1e22; /* Dunkleres Grau */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}